{% extends 'adminbase.html.twig' %}
    
{% block content %} 

<div class="padding-20">
<div class="container-fluid">
<div class="row paddleft-18">
</div>
  <div class="bg-white table-bg">
  <h2>Create Cashdiscount</h2>
 
 {{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'novalidate' }}) }} 
 

  <div class="form-group">
  <label>Cashdiscount<span class="error">*</span></label>
  {{ form_widget(form.cashdiscount, {'attr': {'class': 'form-control',} }) }}
    <span class="error required">{{ form_errors(form.cashdiscount) }}</span>
  </div>

    <div class="form-group">
  <label>Percentage<span class="error">*</span></label>
  {{ form_widget(form.percentage, {'attr': {'class': 'form-control',} }) }}
    <span class="error required">{{ form_errors(form.percentage) }}</span>
  </div>

  <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Create Cashdiscount</button>
  <a href="{{ path('cashdiscount') }}" class="btn btn-secondary"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    {{ form_end(form) }}
    </div>
    </div>
    </div>

 {% endblock %}